<!DOCTYPE html>
<html>
<head>
    <!-- 声明页面编码   -->
    <meta charset="UTF-8">
    <!-- 页面描述 -->
    <meta name="description" content="优秀的个人博客,学IT,学前端,技术博客分享前端经验"/>
    <!-- 页面关键词 -->
    <meta name="keywords" content="前端|IT|技术|博客|Vue|Node|个人博客|博客模板"/>
    <!-- 网页作者 -->
    <meta name="author" content="ZhiYuanWang, 95241616@qq.com"/>
    <!-- 搜索引擎抓取 -->
    <meta name="robots" content="index,follow"/>
    <!-- 移动端标签声明   -->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>王晓冷|关于</title>
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <link rel="stylesheet" href="../static/css/master.css"/>
    <link rel="stylesheet" href="../static/css/gloable.css"/>
    <link rel="stylesheet" href="../static/css/nprogress.css"/>
    <link rel="stylesheet" href="../static/css/about.css"/>
    <link rel="stylesheet" href="../static/css/aboutwo.css"/>
</head>
<body>
<div class="header"></div>
<header class="gird-header">
    <div class="header-fixed">
        <div class="header-inner">
            <a href="../index.html" class="header-logo" id="logo">Mr.ZY</a>
            <nav class="nav" id="nav">
                <ul>
                    <li><a href="article.html" >文章</a></li>
                    <li><a href="message.html">留言</a></li>
                    <li><a href="diary.html">生活</a></li>
                    <li><a href="about.html">关于</a></li>
                    <li><a href="link.html">友链</a></li>
                </ul>
            </nav>
            <a href="javascript:;" class="blog-user">
                <i class="layui-icon layui-icon-theme" style="font-size: 20px"></i>
            </a>
            <a class="phone-menu">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </div>
    </div>
</header>
<div class="doc-container" id="doc-container">
    <div class="about-banner" id="container">
        <header class="l-top hasAnim arrow-holder">
            <a data-path-hover="M31.3184948,33.1943359 C36.3357454,28.0664371 44.4728686,28.0690462 49.572124,33.2807584 C54.6360745,38.4563871 54.6061839,46.8782889 49.6566817,51.9369454 L31.318494,69.5197703 L49.6566817,89.71735 C54.6739322,94.8452488 54.6713794,103.161825 49.572124,108.373537 C44.5081735,113.549166 36.267997,113.518616 31.3184948,108.459959 L3.8112137,78.891075 C-1.25273677,73.7154463 -1.2880417,65.3601778 3.8112137,60.1484655 L31.3184948,33.1943359 Z">
                <svg width="0" height="0">
                    <path fill="#fff"
                          d="M58.9103319,3.8342148C63.9275825,-1.29368407,72.0647057,-1.29107495,77.1639611,3.92063726C82.2279116,9.09626594,82.198021,17.5181678,77.2485188,22.5768242C77.2485188,22.5768242,31.318494,69.5197703,31.318494,69.5197703C31.318494,69.5197703,77.2485188,116.462716,77.2485188,116.462716C82.2657693,121.590615,82.2632165,129.907191,77.1639611,135.118903C72.1000106,140.294532,63.8598341,140.263982,58.9103319,135.205326C58.9103319,135.205326,3.8112137,78.891075,3.8112137,78.891075C-1.25273677,73.7154463,-1.2880417,65.3601778,3.8112137,60.1484655C3.8112137,60.1484655,58.9103319,3.8342148,58.9103319,3.8342148C58.9103319,3.8342148,58.9103319,3.8342148,58.9103319,3.8342148"></path>
                </svg>
            </a>
            <a data-path-hover="M31.3184948,33.1943359 C36.3357454,28.0664371 44.4728686,28.0690462 49.572124,33.2807584 C54.6360745,38.4563871 54.6061839,46.8782889 49.6566817,51.9369454 L31.318494,69.5197703 L49.6566817,89.71735 C54.6739322,94.8452488 54.6713794,103.161825 49.572124,108.373537 C44.5081735,113.549166 36.267997,113.518616 31.3184948,108.459959 L3.8112137,78.891075 C-1.25273677,73.7154463 -1.2880417,65.3601778 3.8112137,60.1484655 L31.3184948,33.1943359 Z">
                <svg width="0" height="0">
                    <path fill="#fff"
                          d="M58.9103319,3.8342148 C63.9275825,-1.29368407 72.0647057,-1.29107495 77.1639611,3.92063726 C82.2279116,9.09626594 82.198021,17.5181678 77.2485188,22.5768242 L31.318494,69.5197703 L77.2485188,116.462716 C82.2657693,121.590615 82.2632165,129.907191 77.1639611,135.118903 C72.1000106,140.294532 63.8598341,140.263982 58.9103319,135.205326 L3.8112137,78.891075 C-1.25273677,73.7154463 -1.2880417,65.3601778 3.8112137,60.1484655 L58.9103319,3.8342148 Z"></path>
                </svg>
            </a>
        </header>
        <div class="about-title">
            <h1>关于</h1>
            <p>良言一句暖三冬，恶语伤人六月寒.</p>
        </div>
    </div>
    <div class="container-fixed">
        <div class="container-inner">
           <!-- <div class="with">
                <h3><span>关于我</span></h3><br>
                <p>姓名:王晓冷</p>
                <p>性别: 男</p>
                <p>年龄: 90后</p>
                <p>职业: Web前端开发工程师</p>
                <p>现居：中国·辽宁·沈阳</p>
                <p>评价：编程是爱好,热爱学习</p>
                <p>简历：<a href="../web前端-王志远.pdf" style="color: #0000FF">点击进行查看</a></p>
            </div> -->
         <!--   <div class="with">
                <h3><span>技能领域</span></h3><br>
                <p>1、熟悉 HTML5 新标签，css3 新特性以及标准盒模型怪异盒模型</p>
                <p>2、熟练 flex 弹性盒子布局和响应式布局，以及自适应 rem 布局；</p>
                <p>3、熟练 CSS 预编译 SASS 的使用以及 Es5-Es6 语法</p>
                <p>4、了解小程序，公众号</p>
                <p>5、熟悉 jQuery、ajax 请求数据</p>
                <p>6、熟练 Vue 框架进行 SPA 应用程序的开发</p>
                <p>7、熟练使用 vuex</p>
                <p>8、熟练 vant、Element-ui、bootstrap 等开发框架和类库</p>
                <p>9、熟练 git 进行代码管理</p>
            </div>
            <div class="with">
                <h3><span>关于本站</span></h3><br>
                <p>本站始建于2020.10,建站初心是为了巩固巩固所学知识，加深理解，本站只支持PC端.</p>
                <p>博客网址:http://jion.3vfree.net/home.html</p>
                <p>本站结构:</p>
                <p>前端 Js + Jq + Html + Css + Ajax + Layui......</p>
                <p>后端 Node.js + Mysql + express......</p>
            </div>
            <div class="with">
                <h3><span>关于版权</span></h3><br>
                <p>本站采用「 署名-非商业性使用 4.0 国际 (CC BY-NC 4.0)」创作共享协议。
                    只要在使用时注明出处，那么您可以可以对本站所有原创内容进行转载、节选、二次创作，但是您不得对其用于商业目的。</p>
            </div>
            <div class="with">
                <h3><span>联系我</span></h3><br>
                <p>邮箱: 95241616@qq.com</p>
                <p>QQ: 95241616</p>
                <p>微信: Wzy95241616</p>
                <p>简书: <a href="https://www.jianshu.com/p/75302f25adaf" style="color: #0000FF">https://www.jianshu.com/p/75302f25adaf</a>
                </p>
            </div> -->
        </div>
    </div>
</div>
<footer class="grid-footer">
    <div class="footer-fixed">
        <div class="copyright">
            <div class="info">
                <div class="contact">
                    <a href="https://github.com/Your-lovely-father?tab=repositories" class="github" target="_blank"><i
                            class="fa fa-github"></i></a>
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=95241616&site=qq&menu=yes" class="qq" target="_blank" title="95241616"><i class="fa fa-qq"></i></a>
                    <a href="https://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=92541616@qq.com" class="email" target="_blank" title="95241616@qq.com"><i
                            class="fa fa-envelope"></i></a>
                    <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=Mzg3OTQ2NjE5Mw==&scene=124#wechat_redirect" class="weixin"><i class="fa fa-weixin"></i></a>
                </div>
                <p class="mt05">
                    Copyright &copy; 2020-2020 王晓冷 All Rights Reserved V.3.1.3 蜀ICP备1800608842号
                </p>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="../static/layui/layui.js"></script>
<script src="../static/js/yss/gloable.js"></script>
<script src="../static/js/plugins/nprogress.js"></script>
<script>NProgress.start();</script>
<script src="../static/js/plugins/blogbenoitboucart.min.js"></script>
<script src="../static/js/bg.js"></script>
<script src="../api/about.js"></script>
<script>
    window.onload = function () {
        NProgress.done();
    };
</script>

</body>
</html>
