<!DOCTYPE html>
<html>
<head>
	<!-- 声明页面编码   -->
	<meta charset="UTF-8">
	<!-- 页面描述 -->
	<meta name="description" content="优秀的个人博客,学IT,学前端,技术博客分享前端经验"/>
	<!-- 页面关键词 -->
	<meta name="keywords" content="前端|IT|技术|博客|Vue|Node|个人博客|博客模板"/>
	<!-- 网页作者 -->
	<meta name="author" content="ZhiYuanWang, 95241616@qq.com"/>
	<!-- 搜索引擎抓取 -->
	<meta name="robots" content="index,follow"/>
	<!-- 移动端标签声明   -->
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>王晓冷|友链</title>
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/layui/css/layui.css" />
    <link rel="stylesheet" href="../static/css/master.css" />
    <link rel="stylesheet" href="../static/css/gloable.css" />
    <link rel="stylesheet" href="../static/css/nprogress.css" />
    <link rel="stylesheet" href="../static/css/about.css" />
	<style>
		@media screen and (max-width:580px){
			.layui-card-body{
				width:300px!important;
			}
			#layui-layer1{
				width:350px!important;
			}
		}
	</style>
</head>
<body>
    <div class="header">
    </div>
    <header class="gird-header">
        <div class="header-fixed">
            <div class="header-inner">
				<a href="../index.html" class="header-logo" id="logo">Mr.ZY</a>
                <nav class="nav" id="nav">
                    <ul>
						<li><a href="article.html" >文章</a></li>
						<li><a href="message.html">留言</a></li>
						<li><a href="diary.html">生活</a></li>
						<li><a href="about.html">关于</a></li>
						<li><a href="link.html">友链</a></li>
                    </ul>
                </nav>
                <a href="javascript:;" class="blog-user">
					<i class="layui-icon layui-icon-theme" style="font-size: 20px"></i>
                </a>
                <a class="phone-menu">
                    <i></i>
                    <i></i>
                    <i></i>
                </a>
            </div>
        </div>
    </header>
    <div class="doc-container" id="doc-container">
        <div class="about-banner" id="container">
		    <header class="l-top hasAnim arrow-holder">
		        <a data-path-hover="M31.3184948,33.1943359 C36.3357454,28.0664371 44.4728686,28.0690462 49.572124,33.2807584 C54.6360745,38.4563871 54.6061839,46.8782889 49.6566817,51.9369454 L31.318494,69.5197703 L49.6566817,89.71735 C54.6739322,94.8452488 54.6713794,103.161825 49.572124,108.373537 C44.5081735,113.549166 36.267997,113.518616 31.3184948,108.459959 L3.8112137,78.891075 C-1.25273677,73.7154463 -1.2880417,65.3601778 3.8112137,60.1484655 L31.3184948,33.1943359 Z">
		            <svg width="0" height="0">
		                <path fill="#fff" d="M58.9103319,3.8342148C63.9275825,-1.29368407,72.0647057,-1.29107495,77.1639611,3.92063726C82.2279116,9.09626594,82.198021,17.5181678,77.2485188,22.5768242C77.2485188,22.5768242,31.318494,69.5197703,31.318494,69.5197703C31.318494,69.5197703,77.2485188,116.462716,77.2485188,116.462716C82.2657693,121.590615,82.2632165,129.907191,77.1639611,135.118903C72.1000106,140.294532,63.8598341,140.263982,58.9103319,135.205326C58.9103319,135.205326,3.8112137,78.891075,3.8112137,78.891075C-1.25273677,73.7154463,-1.2880417,65.3601778,3.8112137,60.1484655C3.8112137,60.1484655,58.9103319,3.8342148,58.9103319,3.8342148C58.9103319,3.8342148,58.9103319,3.8342148,58.9103319,3.8342148"></path>
		            </svg>
		        </a>
		        <a data-path-hover="M31.3184948,33.1943359 C36.3357454,28.0664371 44.4728686,28.0690462 49.572124,33.2807584 C54.6360745,38.4563871 54.6061839,46.8782889 49.6566817,51.9369454 L31.318494,69.5197703 L49.6566817,89.71735 C54.6739322,94.8452488 54.6713794,103.161825 49.572124,108.373537 C44.5081735,113.549166 36.267997,113.518616 31.3184948,108.459959 L3.8112137,78.891075 C-1.25273677,73.7154463 -1.2880417,65.3601778 3.8112137,60.1484655 L31.3184948,33.1943359 Z">
		            <svg width="0" height="0">
		                <path fill="#fff" d="M58.9103319,3.8342148 C63.9275825,-1.29368407 72.0647057,-1.29107495 77.1639611,3.92063726 C82.2279116,9.09626594 82.198021,17.5181678 77.2485188,22.5768242 L31.318494,69.5197703 L77.2485188,116.462716 C82.2657693,121.590615 82.2632165,129.907191 77.1639611,135.118903 C72.1000106,140.294532 63.8598341,140.263982 58.9103319,135.205326 L3.8112137,78.891075 C-1.25273677,73.7154463 -1.2880417,65.3601778 3.8112137,60.1484655 L58.9103319,3.8342148 Z"></path>
		            </svg>
		        </a>
		    </header>
		    <div class="about-title">
		        <h1>友情链接</h1>
		        <p>如果心胸不似海，又怎能有海一样的事业.</p>
		    </div>
		</div>
		<div class="container-fixed">
		    <div class="container-inner">
		        <article>
		            <section>
		                <h1>链接申请说明</h1>
		                <p>
		                    <i class="fa fa-close" style="color: red"></i>经常宕机&nbsp;
		                    <i class="fa fa-close" style="color: red"></i>不合法规&nbsp;
		                    <i class="fa fa-close" style="color: red"></i>插边球站&nbsp;
		                    <i class="fa fa-close" style="color: red"></i>红标报毒&nbsp;
		                    <i class="fa fa-check" style="color: #0000FF"></i>原创优先&nbsp;
		                    <i class="fa fa-check" style="color: #0000FF"></i>技术优先
		                </p>
		                <p>
		                    交换友链可在留言板留言.请将本站加入友链<br>
		                    名称：王晓冷<br>
		                    网址：http://jion.3vfree.net/blog/index.html<br>
		                    图标：http://jion.3vfree.net/logo.png<br>
		                    描述：王晓冷· 满眼都是你
		                </p>
		                <p>
							<button class="layui-btn" type='button' onclick="applyFriendShipLinkModal()">友链申请</button>
							<br>
		                    申请提交后若无其它原因将在24小时内审核,如超过时间还未通过,请私信我.(各种额外因素)
		                </p>
		            </section>
		        </article>
		        <ul class="link-list">
	                <li>
	                    <div class="pd-lr-10">
	                        <a href="http://jion.3vfree.net/index.html" target="_blank">
	                            <img src="../static/img/ren.jpg">
	                            <h3>王晓冷</h3>
								<p class="solid"></p>
	                            <p>王晓冷·满眼都是你</p>
	                        </a>
	                    </div>
	                </li>
		        </ul>
		    </div>
		</div>
    </div>
    <footer class="grid-footer">
        <div class="footer-fixed">
            <div class="copyright">
                <div class="info">
                    <div class="contact">
						<a href="https://github.com/Your-lovely-father?tab=repositories" class="github" target="_blank"><i
								class="fa fa-github"></i></a>
						<a href="http://wpa.qq.com/msgrd?v=3&uin=95241616&site=qq&menu=yes" class="qq" target="_blank" title="95241616"><i class="fa fa-qq"></i></a>
						<a href="https://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=92541616@qq.com" class="email" target="_blank" title="95241616@qq.com"><i
								class="fa fa-envelope"></i></a>
						<a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=Mzg3OTQ2NjE5Mw==&scene=124#wechat_redirect" class="weixin"><i class="fa fa-weixin"></i></a>
                    </div>
                    <p class="mt05">
						Copyright &copy; 2020-2020 王晓冷 All Rights Reserved V.3.1.3 蜀ICP备1800608842号
                    </p>
                </div>
            </div>
        </div>
    </footer>
	<!-- 友链申请弹窗 -->
	<div class="layui-card-body" id="friendShipLinkModal" style="display: none">
		<form class="layui-form" action="">
			<div class="layui-form-item">
				<label class="layui-form-label">友链名称</label>
				<div class="layui-input-block">
					<input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入友链名称" class="layui-input" maxlength="64">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">友链网址</label>
				<div class="layui-input-block">
					<input type="text" name="linkUrl" lay-verify="required|url" placeholder="请输入友链网址" autocomplete="off" class="layui-input" maxlength="225">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">LOGO地址</label>
				<div class="layui-input-block">
					<input type="text" name="linkLogoUrl" lay-verify="required|url" placeholder="请输入友链LOGO地址" autocomplete="off" class="layui-input" maxlength="225">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">友链描述</label>
				<div class="layui-input-block">
					<textarea placeholder="请输入友链描述" class="layui-textarea" name="description" lay-verify="required" autocomplete="off" maxlength="225"></textarea>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">联系邮箱</label>
				<div class="layui-input-block">
					<input type="text" name="email" lay-verify="required|email" placeholder="请输入联系邮箱" autocomplete="off" class="layui-input" maxlength="64">
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit="applyFriendShipLinkForm" lay-filter="applyFriendShipLinkForm" type='button'>立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="../static/layui/layui.js"></script>
    <script src="../static/js/yss/gloable.js"></script>
    <script src="../static/js/plugins/nprogress.js"></script>
    <script>NProgress.start();</script>
 	<script src="../static/js/plugins/blogbenoitboucart.min.js"></script>
	<script src="../static/js/bg.js"></script>
    <script>
        window.onload = function () {
            NProgress.done();
        };
		window.applyFriendShipLinkModal = function(){
			layer.open({
				type: 1,
				title: "友链申请",
				// skin: 'layui-layer-rim', //加上边框
				area: ['500px', '500px'], //宽高
				content: $('#friendShipLinkModal'),
				cancel: function(index, layero){

					layer.close(index)
				},
				success: function(layero, index){

					applyFriendShipLinkModalIndex = index;
				}
			});
		}
    </script>
</body>
</html>
